
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ServLayout.cshtml";
}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row-title">Explore Our Services</div>
                <div class="row-subtitle">Designed to satisfy your creative needs.</div>
            </div>
        </div>

        <div class="row">
            <div class="animated slideInLeft col-sm-6 col-md-4">
                <div class="article-summary">
                    <div class="article-img"><img src="~/images/WebApp.png" alt="" /></div>
                    <div class="article-details">
                        <div class="article-title"><a href="">Web Application Development</a></div>
                        <div class="article-text">
                            Smartware puts you ahead of the times with fascinating mobile application designs that
                            function adaptively with your mobile devices.
                        </div>
                        <div>
                            <a href="WebApp.html">Read More</a>&nbsp;<i class="fas fa-chevron-right" style="color:#9292fd"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="article-summary">
                    <div class="article-img"><img src="~/images/MobileApp.png" alt="" /></div>
                    <div class="article-details">
                        <div class="article-title">
                            <a href="post.html">Mobile Application Development</a>
                        </div>
                        <div class="article-text">
                            Smartware puts you ahead of the times with fascinating mobile application designs that
                            function adaptively with your mobile devices.
                        </div>
                        <div>
                            <a href="MobileApp.html">Read More</a>&nbsp;<i class="fas fa-chevron-right" style="color:#9292fd"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="animated slideInRight col-sm-6 col-md-4">
                <div class="article-summary">
                    <div class="article-img"><img src="~/images/consult.png" alt="" /></div>
                    <div class="article-details">
                        <div class="article-title"><a href="post.html">Consultancy</a></div>
                        <div class="article-text">
                            At Smartware, we render professional consultation and proffer expert advice on IT and
                            Software development. Management and support
                        </div>
                        <div>
                            <a href="Consultancy.html">Read More</a>&nbsp;<i class="fas fa-chevron-right" style="color:#9292fd"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="animated slideInLeft col-sm-6 col-md-4">
                <div class="article-summary">
                    <div class="article-img"><img src="~/images/outsourcing.png" alt="" /></div>
                    <div class="article-details">
                        <div class="article-title">
                            <a href="post.html">Recruitment Process Outsourcing</a>
                        </div>
                        <div class="article-text">
                            Smartware provides reliable database management services, given her clients one less
                            deployment concern to worry about
                        </div>
                        <div>
                            <a href="Outsourcing.html">Read More</a>&nbsp;<i class="fas fa-chevron-right" style="color:#9292fd"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="article-summary">
                    <div class="article-img"><img src="~/images/SmartTut.png" alt="" /></div>
                    <div class="article-details">
                        <div class="article-title"><a href="post.html">Smart tutoring</a></div>
                        <div class="article-text">
                            At Smartware, we transcend the norms of the mundane classroom instructive environment as
                            we employ online training with applicable exercises and relevant instructional materials.
                        </div>
                        <div>
                            <a href="SmartTut.html">Read More</a>&nbsp;<i class="fas fa-chevron-right" style="color:#9292fd"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="animated slideInRight col-sm-6 col-md-4">
                <div class="article-summary">
                    <div class="article-img"><img src="~/images/CloudComp.png" alt="" /></div>
                    <div class="article-details">
                        <div class="article-title"><a href="post.html">Cloud Computing</a></div>
                        <div class="article-text">
                            At Smartware, we strive to deliver and we leverage on shared resources with
                            Microsoft Azure to achieve coherence and minimize infrastructure cost ensuring your
                            solutions run efficiently.
                        </div>
                        <div>
                            <a href="CloudComp.html">Read More</a>&nbsp;<i class="fas fa-chevron-right" style="color:#9292fd"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>